[Unit]
Description=Logstash Discovery Service 
# Requirements
Requires=etcd.service
Requires=logstash.service

# Dependency ordering and binding
After=etcd.service
After=logstash.service
BindsTo=logstash.service

[Service]
# Get CoreOS environmental variables
EnvironmentFile=/etc/environment

# have SystemD restart the service if it goes down
Restart=always
RestartSec=10s

ExecStart=/bin/sh -c "while true; do /usr/bin/etcdctl set /services/logstash/hosts/${COREOS_PRIVATE_IPV4} \'{"lumberjack_port": 10101}\' --ttl 30; sleep 20; done"
ExecStop=/usr/bin/etcdctl rm /services/logstash/hosts/${COREOS_PRIVATE_IPV4}


[X-Fleet]
# Schedule on the same machine as the associated logstash service
MachineOf=logstash.service
