{{$data := ls "/services/elasticsearch_logging"}}
input {
  stdin {
    codec => json
    tags => [ "source:journalctl", "node:$(hostname)", "node_ipv4:${COREOS_PRIVATE_IPV4}" ]
  }
  syslog {
    type => syslog
    port => 514
    tags => [ "source:syslog", "node:$(hostname)", "node_ipv4:${COREOS_PRIVATE_IPV4}" ]
  }
}

output {
  stdout {
    codec => "json"
  }
  elasticsearch {
    embedded => false
    protocol => "http"
    {{if $data}}
    host => "{{index $data 0}}"
    {{end}}
    port => 9200
    codec => "json"
    node_name => "logstash-$(hostname)"
  }
}
