{{ $service := getenv "SERVICE_LABEL" }}
{{ $local_port := getenv "LOCAL_PORT" }}
{{ $service_port := getenv "SERVICE_PORT" }}
{{ $hostsdir := printf "/services/%s/hosts" $service }}
global
    log 127.0.0.1 local0
    log 127.0.0.1 local1 notice
#    log /dev/log    local0
#    log /dev/log    local1 notice
#    daemon
#    maxconn 256
#    debug
#    log 127.0.0.1 local0
#    log 127.0.0.1 local1 notice
    chroot /var/lib/haproxy
#    user haproxy
#    group haproxy

    # Default SSL material locations
    ca-base /etc/ssl/certs
    crt-base /etc/ssl/private

    # Default ciphers to use on SSL-enabled listening sockets.
    # For more information, see ciphers(1SSL).
    ssl-default-bind-ciphers kEECDH+aRSA+AES:kRSA+AES:+AES256:RC4-SHA:!kEDH:!LOW:!EXP:!MD5:!aNULL:!eNULL
    ssl-default-bind-options no-sslv3


defaults
    timeout connect 2000ms
    timeout client  5000ms
    timeout server  5000ms
    retries 2
    mode    tcp
    option  tcplog
    log global
#    option httplog
    option dontlognull


listen {{ $service }}-cluster
    bind *:{{ $local_port }}
    mode tcp
    balance roundrobin
    {{ range $index, $host_ip := ls $hostsdir }}
    server {{ $service }}-{{ $index }} {{ $host_ip }}:{{ $service_port }} check fall 2 inter 1000
    {{ end }}
